In [1]:
import pandas as pd
import json
from datetime import datetime
import requests

In [5]:
tickers=["MOEX","GAZP","SBER"]
now=datetime.now().date()
data=pd.DataFrame()
i=0
start_date="2014-01-01"
while True:
    url = (
                f'http://iss.moex.com/iss/engines/stock/markets/shares/securities/'
                f'MOEX/candles.json?from={start_date}&till={now}&interval=24&start={i}'
            )
        
    response=requests.get(url).json()
    if len(response['candles']['data'])==0:
           break
    df=pd.DataFrame(columns=response['candles']['columns'], data=response['candles']['data'])
    df.rename(columns={'begin':'date'}, inplace=True)
    data=pd.concat([data,df['date']])
    i+=500

data['date'] = pd.to_datetime(data['date'])
data.set_index('date',inplace=True)


for ticker in tickers:
    i=0
    ans=pd.DataFrame()
    while True:

        url = (
                f'http://iss.moex.com/iss/engines/stock/markets/shares/securities/'
                f'{ticker}/candles.json?from={start_date}&till={now}&interval=24&start={i}'
            )
        
        response=requests.get(url).json()
        # print(len(response['candles']['data']))
        if len(response['candles']['data'])==0:
               break
        df=pd.DataFrame(columns=response['candles']['columns'], data=response['candles']['data'])
        ans=pd.concat([ans,df])
        i+=500

    ans=ans[['begin','open','volume']]
    ans.rename(columns={"open":ticker,"begin":"date","volume":f"{ticker}_volume"},inplace=True)
    ans['date'] = pd.to_datetime(ans['date'])
    ans.set_index('date',inplace=True)
    data=pd.concat([data,ans], axis=1)

In [8]:
data

              MOEX  MOEX_volume    GAZP  GAZP_volume    SBER  SBER_volume
date
2014-01-06   63.20      2506550  137.51     19619510  100.20     31691800
2014-01-08   62.97      1687240  136.61     20464840   99.10     42372290
2014-01-09   64.64      1962760  137.50     33292350   98.44     45986900
2014-01-10   65.02      2529910  138.51     34861530   97.87     51902400
2014-01-13   65.25       935420  139.91     29817460   99.30     62051250
...            ...          ...     ...          ...     ...          ...
2024-09-13  205.00      9236900  118.79     55825340  255.19    111180360
2024-09-16  209.52      9108400  120.60     38854810  259.64     52643180
2024-09-17  216.50      4232880  121.91     36877510  264.12     57565620
2024-09-18  215.95      7008470  122.53     30649560  265.73     43376640
2024-09-19  210.49      4992610  121.90     42643730  263.94     34906100

[2686 rows x 6 columns]